<!-- Modal -->
<div class="modal-header">
    <button type="button" class="close" ng-click="cookieCtrl.cancel()" aria-hidden="true">×</button>
    <h3>Cookies</h3>
</div>
<div class="modal-body">
    <div ng-repeat="cookie in cookieCtrl.cookies track by cookie.key">
        <div class="input-group">
            <input class="form-control cookie" type="text" ng-model="cookie.key">
            <span class="input-group-btn"></span>
            <input class="form-control cookie" type="text" ng-model="cookie.value">
            <span class="input-group-btn"></span>
            <span class="input-group-btn">
                <button class="btn btn-danger" type="button"
                        ng-click="cookieCtrl.removeCookie(cookie.key)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </span>
        </div>
    </div>
    <span class="input-group-btn">
        <button class="btn btn-default appspider-btn" type="button" ng-click="cookieCtrl.addNewCookie()"> Add new cookie</button>
    </span>
</div>
<div class="modal-footer">
    <button class="btn btn-primary appspider-btn" ng-click="cookieCtrl.save(cookieCtrl.cookies)">Save changes</button>
</div>
<!-- End Modal -->