<!-- Modal -->
<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="paramCtrl.cancel()">×</button>
    <h3>Parameters</h3>
</div>
<div class="modal-body">
    <div ng-repeat="param in paramCtrl.parameters track by param.key">
        <div class="input-group">
            <input class="form-control cookie" type="text" ng-model="param.key">
            <span class="input-group-btn"></span>
            <input class="form-control cookie" type="text" ng-model="param.value">
            <span class="input-group-btn"></span>
            <span class="input-group-btn">
                <button class="btn btn-danger appspider-btn" type="button"
                    ng-click="paramCtrl.removeParameters(param.key)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </span>
        </div>
    </div>
    <span class="input-group-btn">
        <button class="btn btn-default appspider-btn" type="button"
        ng-click="paramCtrl.addNewParams()">Add new parameters</button>
    </span>
</div>
<div class="modal-footer">
    <button class="btn btn-primary appspider-btn" ng-click="paramCtrl.saveParameters(paramCtrl.parameters)">Save changes</button>
</div>
<!-- End Modal -->